# Python
__pycache__/
*.py[cod]
*.pyd

# Build / packaging
build/
dist/
*.egg-info/
wheels/

# Virtual environments
.venv/

# Environment variables
.env

# Tooling caches
.pytest_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
*.log

# Temp folder
.temp/